= form_for @embed do |f|
  - if @embed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@embed.errors.count, "error")} prohibited this embed from being saved:"
      %ul
        - @embed.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :image_id
    = f.number_field :image_id
  .actions
    = f.submit 'Save'
