-image = @embed.image
%h1=image.title
= image_tag image.url
= image.description
= image.created_time
= image.location_name

= image.products.each do |p|
  =p.title
  =p.price
  =p.url


-provide :meta
  %meta{:content => "StartupStory.Ru ", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "http://StartupStory.Ru", :property => "og:url"}/
  %meta{:content => "http://www.startupstory.ru/assets/ss_logo.png", :property => "og:image"}/
  %meta{:content => "StartupStory.Ru", :property => "og:site_name"}/
  %meta{:content => "100000245725293", :property => "fb:admins"}/
  %meta{:content => "286819084665868", :property => "fb:app_id"}/
  %meta{:content => "Видеоинтервью с CEO стартапов из Кремниевой долины", :property => "og:description"}/
