-image = @embed.image
%h1=image.title
= image_tag image.url
= image.description
= image.created_time
= image.location_name

.product_list
  %h3
    Products list for this image
  %ul
  - image.products.each do |p|
    %li
      %h4=p.title
      =p.price
      =p.url


-provide :meta do
  %meta{:content => "OMGwant! - #{image.title}", :property => "og:title"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "http://omgwant.herokuapp.com/#{@embed.url}", :property => "og:url"}/
  %meta{:content => "#{image.low_url}", :property => "og:image"}/
  %meta{:content => "OMGwant!", :property => "og:site_name"}/
  %meta{:content => "100001436239662", :property => "fb:admins"}/
  %meta{:content => "306688069433056", :property => "fb:app_id"}/
  %meta{:content => "#{image.title} - #{image.description}", :property => "og:description"}/
