%h1 Listing images_products

%table
  %tr
    %th Image
    %th Product
    %th
    %th
    %th

  - @images_products.each do |images_product|
    %tr
      %td= images_product.image_id
      %td= images_product.product_id
      %td= link_to 'Show', images_product
      %td= link_to 'Edit', edit_images_product_path(images_product)
      %td= link_to 'Destroy', images_product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Images product', new_images_product_path
