%h1 Listing images

%table
  %tr
    %th Url
    %th Title
    %th Description
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td= image.url
      %td= image.title
      %td= image.description
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
