!!!
%html{:app => 'omgwant'}
  %head
    %title OMGwant
    = render "api/preload_data"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    =render :partial => "layouts/main_header"
    .page-wrapper
      .row-fluid.show-grid.image-feed
        .span1
        .span10
          = yield
    .modal-holder
    =render :partial => "layouts/main_footer"
